<main>
    <section class="submain">
        <section class="submain-one">
            <section class="submain-one-image-cover">
                <img class="submain-one-image" src="../../assets/images/main.svg" alt="">
            </section>
        </section>
        <section class="submain-two">
            <form [formGroup]="countryForm" (ngSubmit)="handleSubmit($event)" class="submain-two-form">
                <header class="submain-two-form-header">
                    <h1>Pick-A-Location</h1>
                </header>
                <section class="submain-two-form-body">
                    <section class="submain-two-form-select-holder">
                        <select id="country" class="submain-two-form-select" formControlName="country"
                            (change)="handleCountryChange()" aria-placeholder="Select a country">
                            <option class="x" value="">Select a Country</option>
                            <option *ngFor="let country of countries" [value]="country.value">{{ country.label }}
                            </option>
                        </select>
                    </section>
                    <section class="submain-two-form-select-holder">
                        <select id="state" class="submain-two-form-select" formControlName="state"
                            (change)="handleStateChange()" aria-placeholder="Select a country">
                            <option value="">Select a state</option>
                            <option *ngFor="let state of states" [value]="state.value">{{ state.label }}</option>
                        </select>
                    </section>
                    <section class="submain-two-form-select-holder">
                        <select id="lga" class="submain-two-form-select" formControlName="lga"
                            aria-placeholder="Select a Substate">
                            <option value="">Select a sub state</option>
                            <option *ngFor="let lga of lgas" [value]="lga.value">{{ lga.label }}</option>
                        </select>
                    </section>
                    <section class="submain-two-form-button-holder">
                        <button class="submain-two-form-button">Create Account</button>
                    </section>
                    <footer class="submain-two-form-footer">
                        <h4 class="submain-two-form-footer-h4">Existing user? Login</h4>
                        <img src="../../assets/images/Group 1.svg" alt="">
                    </footer>
                </section>
            </form>
        </section>

    </section>

</main>